<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Edit Profile</h2>
    <form method="POST">
      <label>LeetCode:</label
      ><input
        type="text"
        name="leetcode"
        value="{{ profile.get('leetcode', '') }}"
      /><br />
      <label>GitHub:</label
      ><input
        type="text"
        name="github"
        value="{{ profile.get('github', '') }}"
      /><br />
      <label>LinkedIn:</label
      ><input
        type="text"
        name="linkedin"
        value="{{ profile.get('linkedin', '') }}"
      /><br />
      <label>WhatsApp:</label
      ><input
        type="text"
        name="whatsapp"
        value="{{ profile.get('whatsapp', '') }}"
      /><br />
      <button type="submit">Save</button>
    </form>
    <a href="/route_dashboard">Back to Dashboard</a>
  </body>
</html>
